<html>
    <body>
        <h1>{{session.username}}</h1>
        <h2>Your Address</h2>
        {% for a in addr%}
            <li>{{a}}</li>
        {% endfor %}
        <a href="/addr">add new address</a>
        <h2>Your Telephone number</h2>
        {% for t in tel%}
            <li>{{t}}</li>
        {% endfor %}
        <a href="/tel">add new telephone number</a>
        <h2>Your Products</h2>
        {% if not goods%}
            You do not have any product!
        {% endif %}
        <a href="chooseproduct">Sell New Product</a>
        {% if goods%}
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
            {% for g in goods%}
            <tr>
                <td>{{g}}</td>
                <td>{{price[loop.index0]}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h2>Your Orders</h2>
        <table>
            <tr>
                <th>Order NO.</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Customer</th>
                <th>Date</th>
            </tr>
            {% for o in oid%}
            <tr>
                <td>{{o}}</td>
                <td>{{ogname[loop.index0]}}</td>
                <td>{{oqty[loop.index0]}}</td>
                <td>{{ocost[loop.index0]}}</td>
                <td>{{ocname[loop.index0]}}</td>
                <td>{{odate[loop.index0]}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Back to Home Page</a>
    </body>
</html>